{% extends 'base.html' %}

{% block content %}
    <h2>Matches of the Day</h2>
    <div>
        {% for match in matches %}
            <div class="card">
                <h3>{{ match['local'] }} vs {{ match['visitor'] }}</h3>
                <p><strong>Competition:</strong> {{ match['competition_name'] }}</p>
                <p><strong>Date:</strong> {{ match['date'] }} {{ match['hour'] }}:{{ match['minute'] }}</p>
                <p><strong>Result:</strong> {{ match['result'] }}</p>
                <img src="{{ match['local_shield'] }}" alt="{{ match['local'] }} shield" width="50">
                <img src="{{ match['visitor_shield'] }}" alt="{{ match['visitor'] }} shield" width="50">
            </div>
        {% endfor %}
    </div>
{% endblock %}
